<a href="https://colab.research.google.com/github/mvmarcio/Analise_Dados_Spark/blob/main/Treinamento%20PySpark%20Parte%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Análise de Dados com PySpark**

O objeteivo deste documento é realizar uma análise de dados utilizando a linguagem PySpark. Serão realizadas as seguintes análises:



*   Instalação PySpark
*   Importação bibliotecas / funções
*   Criar Sessão PySpark
*   Criar data frame / ler arquivo
*   Exibir data frame
*   Verificar tipos de colunas
*   Verificando dados nulos
*   Selecionar Colunas
*   Selecionar Colunas com ALIAS
*   Organizar Select
*   Filtrar o data frame
*   Filtrar o data frame com 2 ou mais condições (AND / &)
*   Filtrar o data frame com 2 ou mais condições (OR / |)
*   Filtrar o data frame combinando & e | (And e OR)
*   Criar novas colunas (usando função lit)
*   Criar coluna condicional (usando função substring)
*   Criar coluna condicional (usando função concat_ws)
*   Renomear Colunas
*   Alterar tipo de coluna
*   Window Function 1 - Numero de linhas - row_number()
*   Window Function 2 - Ranking 1 - rank()
*   Window Function 3 - Ranking 2 - dense_rank()
*   Window Function 4 - Porcentagem Ranking - percent_rank()
*   Window Function 5 - Divisão em ' N ' partes - ntile()
*   Window Function 6 - LAG / Degrau - lag()
*   Window Function 7 - Lead / Degrau - lead()
*   Agregações
*   GroupBy + AGG 1
*   Where
*   Describe
*   Window Function 8 - Função de agregação usando Window Function



A análise será realizada com os dados dos jogadores da Copa do Mundo de 2018 e está disponível neste repositório ou neste link [Copa do Mundo 2018](https://https://www.kaggle.com/datasets/djamshed/fifa-world-cup-2018-players).



O PySpark é a interface Python para o Apache Spark, que é um motor de processamento de dados em larga escala que permite realizar computação em clusters de forma distribuída. O PySpark facilita o uso do Spark com a linguagem Python, o que permite escrever os códigos e análises em Python enquanto aproveitam a potência e a escalabilidade do Spark.

### **1. Instalando a Biblioteca do PySpark**

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=5e7f00010250bc3200ac331658db8be8c65fea42d5f8b05f414ba972b8381bcb
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# Vamos chamar a biblioteca externa
from pyspark.sql import SparkSession # para gerar o cluster

from pyspark.sql.functions import * # importa as funções SQL Spark

from pyspark.sql.types import * # Suporte para data frames

from pyspark.sql.window import Window # Importando window function

### **2. Vamos Criar o Cluster para a Análise**

Para detalhes dessa funcionalidade acessar o link [PySpark](https://https://spark.apache.org/docs/latest/sql-getting-started.html)

In [3]:
# Criando nosso cluster e sessão
spark = (
    SparkSession.builder
    .master('local') # cluster local
    .appName('PySpark_01') # nome de usuario
    .getOrCreate()
)

### **3. Vamos Ler Nosso Arquivo da Análise**

In [4]:
# Lendo arquivo
dados = spark.read.csv('wc2018-players.csv', header=True, inferSchema=True)
# O argumento header é para dizer que nossos dados possuem cabeçalho
# O argumento inferSchema é para que os dados sejam automaticamente editados como numéricos ou strings. Se não for colocado todos são lidos como strings

dados.show(5) # mostrando as primeiras 5 linhas

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [5]:
# Vamos verificar os tipos das variáveis
dados.printSchema()

root
 |-- Team: string (nullable = true)
 |-- #: integer (nullable = true)
 |-- Pos.: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)

In [6]:
# Vamos renomear as colunas com a função withColumnRenamed
dados = dados.withColumnRenamed('Pos.', 'Posicao') \
.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao')\
.withColumnRenamed('FIFA Popular Name', 'Nome_FIFA').withColumnRenamed('Birth Date', 'Nascimento')\
.withColumnRenamed('Shirt Name', 'Nome Camiseta').withColumnRenamed('Club', 'Time').withColumnRenamed('Height', 'Altura')\
.withColumnRenamed('Weight', 'Peso')

dados.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
only showing top 5 rows

In [7]:
# Vamos verificar os valores nulos
for colunas in dados.columns:
  print(colunas, dados.filter(dados[colunas].isNull()).count())

Selecao 0
Numero 0
Posicao 0
Nome_FIFA 0
Nascimento 0
Nome Camiseta 0
Time 0
Altura 0
Peso 0

In [8]:
# Vamos selecionar colunas do data frame com a função select
dados.select('Selecao', 'Altura').show(5)

+---------+------+
|  Selecao|Altura|
+---------+------+
|Argentina|   169|
|Argentina|   169|
|Argentina|   167|
|Argentina|   167|
|Argentina|   170|
+---------+------+
only showing top 5 rows

In [9]:
 # Vamos filtrar dados da seleção brasileira
 dados.filter(dados.Selecao == 'Brazil').show(5) # exibe as 5 primeiras linhas do Brasil

+-------+------+-------+-----------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|  Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+-----------+----------+-------------+--------------------+------+----+
| Brazil|    18|     MF|       FRED|05.03.1993|         FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|     TAISON|13.01.1988|       TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|FERNANDINHO|04.05.1985|  FERNANDINHO|Manchester City F...|   179|  67|
| Brazil|    22|     DF|     FAGNER|11.06.1989|       FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    10|     FW|     NEYMAR|05.02.1992|    NEYMAR JR|Paris Saint-Germa...|   175|  68|
+-------+------+-------+-----------+----------+-------------+--------------------+------+----+
only showing top 5 rows

In [10]:
# Vamos filtrar a seleção brasileira com outra função
dados.filter('Selecao == "Brazil" ').show(5) # exibe as primeiras 5 linhas

+-------+------+-------+-----------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|  Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+-----------+----------+-------------+--------------------+------+----+
| Brazil|    18|     MF|       FRED|05.03.1993|         FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|     TAISON|13.01.1988|       TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|FERNANDINHO|04.05.1985|  FERNANDINHO|Manchester City F...|   179|  67|
| Brazil|    22|     DF|     FAGNER|11.06.1989|       FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    10|     FW|     NEYMAR|05.02.1992|    NEYMAR JR|Paris Saint-Germa...|   175|  68|
+-------+------+-------+-----------+----------+-------------+--------------------+------+----+
only showing top 5 rows

In [11]:
# Vamos filtrar duas condições: jogadores da seleção da Argentina acima de 1,80 m
dados.filter((dados.Selecao == 'Argentina') & (dados.Altura > 180)).show()

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|      ANSALDI|     Torino FC (ITA)|   181|  73|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981|    CABALLERO|    Chelsea FC (ENG)|   186|  80|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|      MERCADO|    Sevilla FC (ESP)|   181|  81|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|     OTAMENDI|Manchester City F...|   181|  81|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|         ROJO|Manchester United...|   189|  82|
|Argentina|     6|     DF|    FAZIO Federico|17.03.1987|        FAZIO|       AS Roma (ITA)|   199|  85|
|Argentina|    12|     GK|     ARMANI Franco|16.10.1986|       ARMANI|CA River Plate (ARG)|   189|  85|
|Argentina|     1|     GK|     GUZMAN Nahuel|10.02.1986|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+

In [12]:
# Vamos filtrar duas condições: jogadores da seleção do Brasil acima de 85 kg
dados.filter((dados.Selecao == 'Brazil') & (dados.Peso > 85)).show()

+-------+------+-------+--------------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|     Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+--------------+----------+-------------+--------------------+------+----+
| Brazil|     8|     MF|RENATO AUGUSTO|08.02.1988|   R. AUGUSTO| Beijing Guoan (CHN)|   186|  86|
| Brazil|    23|     GK|       EDERSON|17.08.1993|      EDERSON|Manchester City F...|   188|  86|
| Brazil|     1|     GK|       ALISSON|02.10.1992|    A. BECKER|       AS Roma (ITA)|   193|  91|
| Brazil|    16|     GK|        CASSIO|06.06.1987|       CASSIO|SC Corinthians (BRA)|   195|  92|
+-------+------+-------+--------------+----------+-------------+--------------------+------+----+

In [13]:
# Vamos filtrar os jogadores acima de 1,85 do Brasil e México
dados.filter((dados.Altura > 185) & ((dados.Selecao == 'Brazil') | (dados.Selecao == 'Mexico'))).show()

+-------+------+-------+----------------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|       Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+----------------+----------+-------------+--------------------+------+----+
| Brazil|     3|     DF|         MIRANDA|07.09.1984|      MIRANDA|FC Internazionale...|   186|  78|
| Brazil|     4|     DF|   PEDRO GEROMEL|21.09.1985|      GEROMEL|   Grêmio FBPA (BRA)|   190|  84|
| Brazil|     8|     MF|  RENATO AUGUSTO|08.02.1988|   R. AUGUSTO| Beijing Guoan (CHN)|   186|  86|
| Brazil|    23|     GK|         EDERSON|17.08.1993|      EDERSON|Manchester City F...|   188|  86|
| Brazil|     1|     GK|         ALISSON|02.10.1992|    A. BECKER|       AS Roma (ITA)|   193|  91|
| Brazil|    16|     GK|          CASSIO|06.06.1987|       CASSIO|SC Corinthians (BRA)|   195|  92|
| Mexico|    21|     FW|   ALVAREZ Edson|24.10.1997|   E. ÁLVAREZ|  Club América (MEX)|   186|  72|
| Mexico|     5|     DF|     REYES Diego|19.09.1992|     D. REYES|      FC Porto (POR)|   190|  77|
| Mexico|     9|     FW|    JIMENEZ Raul|05.05.1991|         RAÚL|    SL Benfica (POR)|   188|  79|
| Mexico|     2|     DF|      AYALA Hugo|31.03.1987|     H. AYALA|   Tigres UANL (MEX)|   188|  82|
| Mexico|     3|     DF|  SALCEDO Carlos|29.09.1993|   C. SALCEDO|Eintracht Frankfu...|   189|  83|
| Mexico|    12|     GK|TALAVERA Alfredo|18.09.1982|  A. TALAVERA|Deportivo Toluca ...|   188|  84|
+-------+------+-------+----------------+----------+-------------+--------------------+------+----+

In [14]:
# Vamos criar uma nova coluna usando a função withColumn. Coluna do ano 2018
dados.withColumn('Ano', lit(2018)).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso| Ano|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|2018|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|2018|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|2018|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|2018|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|2018|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+
only showing top 5 rows

In [15]:
# Vamos criar uma coluna nova com a abrevição do nome da seleção
dados.withColumn('Sigla', substring(dados.Selecao, 1, 3)).show(5) # O Spark comça do 1 igual o R

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Sigla|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+-----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|  Arg|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|  Arg|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|  Arg|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|  Arg|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|  Arg|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+-----+
only showing top 5 rows

In [16]:
# Vamos pegar o ano de nascimento dos jogadores
# A função pega os últimos quatro dígitos (-4) e vai andar quatro casas (4)
dados.withColumn('Ano_Nascimento', substring(dados.Nascimento, -4, 4)).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+
only showing top 5 rows

In [17]:
# Vamos salvar a consulta anterior
dados = dados.withColumn('Ano_Nascimento', substring(dados.Nascimento, -4, 4))
dados.filter(dados.Selecao == 'Denmark').show(5)

+-------+------+-------+-------------------+----------+-------------+--------------------+------+----+--------------+
|Selecao|Numero|Posicao|          Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|
+-------+------+-------+-------------------+----------+-------------+--------------------+------+----+--------------+
|Denmark|     2|     MF|KROHN-DEHLI Michael|06.06.1983|  KROHN-DEHLI|Deportivo La Coru...|   171|  69|          1983|
|Denmark|    23|     FW|        SISTO Pione|04.02.1995|        SISTO|    Celta Vigo (ESP)|   173|  69|          1995|
|Denmark|    11|     FW| BRAITHWAITE Martin|05.06.1991|  BRAITHWAITE|FC Girondins Bord...|   180|  73|          1991|
|Denmark|    10|     MF|  ERIKSEN Christian|14.02.1992|      ERIKSEN|Tottenham Hotspur...|   181|  76|          1992|
|Denmark|     8|     MF|     DELANEY Thomas|03.09.1991|      DELANEY|SV Werder Bremen ...|   180|  78|          1991|
+-------+------+-------+-------------------+----------+-------------+--------------------+------+----+--------------+
only showing top 5 rows

In [18]:
# Vamos concatenar o nome da camisa e o número
dados.withColumn('Nome_camisa', concat_ws('-', 'Numero', 'Nome Camiseta')).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento| Nome_camisa|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992|3-TAGLIAFICO|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996|    22-PAVÓN|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993|  15-LANZINI|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990|   18-SALVIO|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987|    10-MESSI|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+------------+
only showing top 5 rows

In [19]:
# Vamos transformar a coluna ano para data. Ela está como string
print(dados.printSchema()) # visualizando o tipo das colunas
print()
dados.withColumn('Ano_Nascimento', col('Ano_Nascimento').cast(IntegerType())).printSchema() # transformando a coluna Ano_Nascimento

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano_Nascimento: string (nullable = true)

None

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano_Nascimento: integer (nullable = true)

In [20]:
# Vamos salvar os dados com a coluna corrigida
dados = dados.withColumn('Ano_Nascimento', col('Ano_Nascimento').cast(IntegerType()))
dados.printSchema()

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano_Nascimento: integer (nullable = true)

In [21]:
# Corrigindo a data que está em string para data

## Vamos fazer uma função "cortar" do dia
dia = udf(lambda data: data.split('.')[0])

dados.withColumn('Dia', dia(dados.Nascimento)).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993| 15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+
only showing top 5 rows

In [22]:
# Vamos salvar no data frame
dados = dados.withColumn('Dia', dia(dados.Nascimento))
dados.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993| 15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+
only showing top 5 rows

In [23]:
# Vamos fazer uma função para cortar o mês
mes = udf(lambda data: data.split('.')[1])
dados = dados.withColumn('Mes', mes(dados.Nascimento))
dados.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21| 01|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993| 15| 02|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13| 07|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+
only showing top 5 rows

In [24]:
# Vamos criar a variável Data_Nascimento
dados = dados.withColumn('Data_Nascimento', concat_ws('-', 'Ano_Nascimento', 'Mes', 'Dia'))
dados.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21| 01|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993| 15| 02|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13| 07|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+
only showing top 5 rows

In [25]:
# Vamos transormar a coluna Data_Nascimento em tipo data
dados.withColumn('Data_Nascimento', to_date(dados.Data_Nascimento, 'yyyy-MM-dd')).printSchema()

# Salvando os dados
dados = dados.withColumn('Data_Nascimento', to_date(dados.Data_Nascimento, 'yyyy-MM-dd'))

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano_Nascimento: integer (nullable = true)
 |-- Dia: string (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Data_Nascimento: date (nullable = true)

In [26]:
# Vamos calcular a idade dos jogadores
dados.withColumn('Idade', (year(current_date()) - dados.Ano_Nascimento)).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21| 01|     1996-01-21|   28|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993| 15| 02|     1993-02-15|   31|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13| 07|     1990-07-13|   34|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
only showing top 5 rows

In [27]:
# Vamos salvar as idades
dados = dados.withColumn('Idade', (year(current_date()) - dados.Ano_Nascimento))
dados.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21| 01|     1996-01-21|   28|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|          1993| 15| 02|     1993-02-15|   31|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13| 07|     1990-07-13|   34|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
only showing top 5 rows

In [28]:
# Vamos apagar a coluna nascimento

dados = dados.drop('Nascimento')
dados.show(5)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21| 01|     1996-01-21|   28|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|          1993| 15| 02|     1993-02-15|   31|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13| 07|     1990-07-13|   34|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
only showing top 5 rows

In [29]:
# Vamos criar um data frame reserva
dados2 = dados

In [30]:
# Vamos fazer um agrupamento por seleção do maior para o menor
num_linha = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('Row_Number', row_number().over(num_linha)).show(20)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|Row_Number|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----------+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|         1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|         2|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34|         3|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38|         4|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43|         5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37|         6|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|         7|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|         8|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|         9|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|        10|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36|        11|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|        12|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|        13|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|        14|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|        15|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|        16|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|        17|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|        18|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|        19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|        20|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----------+
only showing top 20 rows

In [31]:
# Vamos fazer os rankings de altura dos jogadores por seleção

rank1 = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('Rank', rank().over(rank1)).show(20)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|Rank|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|   1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|   2|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34|   3|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38|   3|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43|   5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37|   6|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|   7|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|   7|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|   7|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|  10|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36|  11|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|  12|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|  12|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|  14|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|  14|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|  16|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|  17|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|  17|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|  19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|  20|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----+
only showing top 20 rows

In [32]:
# Vamos fazer um novo ranking. Agora a função não faz contagem de linha
rank2 = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('Rank2', dense_rank().over(rank2)).show(20)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|Rank2|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-----+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|    1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|    2|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34|    3|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38|    3|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43|    4|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37|    5|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|    6|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|    6|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|    6|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|    7|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36|    8|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|    9|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|    9|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|   10|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|   10|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|   11|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|   12|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|   12|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|   13|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|   14|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-----+
only showing top 20 rows

In [33]:
# Vamos realizar o ranking por porcentagem
porcentagem = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('Porcentagem', percent_rank().over(porcentagem)).show(20)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+--------------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|         Porcentagem|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+--------------------+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|                 0.0|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|0.045454545454545456|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34| 0.09090909090909091|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38| 0.09090909090909091|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43| 0.18181818181818182|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37| 0.22727272727272727|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|  0.2727272727272727|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|  0.2727272727272727|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|  0.2727272727272727|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|  0.4090909090909091|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36| 0.45454545454545453|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|                 0.5|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|                 0.5|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|  0.5909090909090909|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|  0.5909090909090909|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|  0.6818181818181818|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|  0.7272727272727273|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|  0.7272727272727273|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|  0.8181818181818182|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|  0.8636363636363636|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+--------------------+
only showing top 20 rows

In [34]:
# Vamos criar uma coluna que divide os jogadores em grupos pela altura
# Vamos dividir em 5 grupos

parte = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('Grupo', ntile(5).over(parte)).show(20)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|Grupo|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-----+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|    1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|    1|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34|    1|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38|    1|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43|    1|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37|    2|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|    2|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|    2|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|    2|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|    2|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36|    3|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|    3|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|    3|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|    3|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|    3|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|    4|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|    4|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|    4|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|    4|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|    5|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-----+
only showing top 20 rows

In [36]:
# Função lag()

degrau = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('degrau', lag('Altura', 1).over(degrau)).show(20)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|degrau|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+------+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|  NULL|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|   199|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34|   192|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38|   189|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43|   189|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37|   186|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|   184|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|   181|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|   181|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|   181|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36|   180|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|   178|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|   177|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|   177|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|   175|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|   175|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|   174|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|   172|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|   172|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|   170|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+------+
only showing top 20 rows

In [37]:
# Função degrau com o lead pegando da posterior
degrau2 = Window.partitionBy('Selecao').orderBy(col('Altura').desc())

dados.withColumn('degrau2', lead('Altura', 1).over(degrau2)).show(30)

+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|degrau2|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-------+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|          1987| 17| 03|     1987-03-17|   37|    192|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|    189|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|          1990| 20| 03|     1990-03-20|   34|    189|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|          1986| 16| 10|     1986-10-16|   38|    186|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|          1981| 28| 09|     1981-09-28|   43|    184|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|          1987| 10| 12|     1987-12-10|   37|    181|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|          1986| 20| 09|     1986-09-20|   38|    181|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|          1987| 18| 03|     1987-03-18|   37|    181|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|          1988| 12| 02|     1988-02-12|   36|    180|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|          1992| 15| 12|     1992-12-15|   32|    178|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|          1988| 14| 02|     1988-02-14|   36|    177|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|          1993| 15| 11|     1993-11-15|   31|    177|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|          1996| 09| 04|     1996-04-09|   28|    175|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|          1986| 30| 01|     1986-01-30|   38|    175|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|          1988| 29| 06|     1988-06-29|   36|    174|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|          1984| 08| 06|     1984-06-08|   40|    172|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|          1988| 02| 06|     1988-06-02|   36|    172|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|          1991| 28| 10|     1991-10-28|   33|    170|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|          1987| 24| 06|     1987-06-24|   37|    169|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|          1992| 31| 08|     1992-08-31|   32|    169|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|          1996| 21| 01|     1996-01-21|   28|    167|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|          1993| 15| 02|     1993-02-15|   31|    167|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|          1990| 13| 07|     1990-07-13|   34|   NULL|
|Australia|    12|     GK|        JONES Brad|        JONES|Feyenoord Rotterd...|   193|  87|          1982| 19| 03|     1982-03-19|   42|    190|
|Australia|     9|     FW|        JURIC Tomi|        JURIC|     FC Luzern (SUI)|   190|  80|          1991| 22| 07|     1991-07-22|   33|    190|
|Australia|     6|     DF|    JURMAN Matthew|       JURMAN|Suwon Samsung Blu...|   190|  83|          1989| 08| 12|     1989-12-08|   35|    189|
|Australia|    23|     MF|         ROGIC Tom|        ROGIC|     Celtic FC (SCO)|   189|  88|          1992| 16| 12|     1992-12-16|   32|    188|
|Australia|    15|     MF|      JEDINAK Mile|      JEDINAK|Aston Villa FC (ENG)|   188|  78|          1984| 03| 08|     1984-08-03|   40|    187|
|Australia|     2|     DF|     DEGENEK Milos|      DEGENEK|Yokohama F-Marino...|   187|  85|          1994| 28| 04|     1994-04-28|   30|    187|
|Australia|    18|     GK|     VUKOVIC Danny|      VUKOVIC|      KRC Genk (BEL)|   187|  94|          1985| 27| 03|     1985-03-27|   39|    184|
+---------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+-------+
only showing top 30 rows

In [40]:
# Comando group by

dados.groupBy('Selecao').agg({'Altura': 'avg'}).orderBy('avg(Altura)', ascending = False).show(32)

+--------------+------------------+
|       Selecao|       avg(Altura)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

In [41]:
# Outra forma de fazer o group by
dados.groupBy('Selecao').agg(avg('Altura')).orderBy('avg(Altura)', ascending = False).show(32)

+--------------+------------------+
|       Selecao|       avg(Altura)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

In [42]:
# Vamos verificar o jogador mais alto
dados.groupBy('Selecao').agg(max('Altura')).orderBy('max(Altura)', ascending = False).show(32)

+--------------+-----------+
|       Selecao|max(Altura)|
+--------------+-----------+
|       Croatia|        201|
|       Denmark|        200|
|     Argentina|        199|
|       Belgium|        199|
|        Sweden|        198|
|       Iceland|        198|
|        France|        197|
|       Nigeria|        197|
|Korea Republic|        197|
|        Panama|        197|
|        Russia|        196|
|       Senegal|        196|
|       Uruguay|        196|
|       England|        196|
|    Costa Rica|        196|
|       Germany|        195|
|        Brazil|        195|
|        Poland|        195|
|        Serbia|        195|
|       IR Iran|        194|
|         Spain|        194|
|         Egypt|        194|
|      Colombia|        194|
|     Australia|        193|
|       Tunisia|        192|
|  Saudi Arabia|        192|
|   Switzerland|        192|
|      Portugal|        191|
|       Morocco|        190|
|        Mexico|        190|
|          Peru|        189|
|         Japan|        189|
+--------------+-----------+

In [45]:
# Vamos trabalhar com a função where
dados.where(dados.Selecao == 'Brazil').where(dados.Posicao == 'DF').show()

+-------+------+-------+-------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
|Selecao|Numero|Posicao|    Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|
+-------+------+-------+-------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+
| Brazil|    22|     DF|       FAGNER|       FAGNER|SC Corinthians (BRA)|   168|  67|          1989| 11| 06|     1989-06-11|   35|
| Brazil|     6|     DF|  FILIPE LUIS|  FILIPE LUIS|Atletico Madrid (...|   182|  73|          1985| 09| 08|     1985-08-09|   39|
| Brazil|    13|     DF|   MARQUINHOS|   MARQUINHOS|Paris Saint-Germa...|   183|  75|          1994| 14| 05|     1994-05-14|   30|
| Brazil|     3|     DF|      MIRANDA|      MIRANDA|FC Internazionale...|   186|  78|          1984| 07| 09|     1984-09-07|   40|
| Brazil|    14|     DF|       DANILO|       DANILO|Manchester City F...|   184|  78|          1991| 15| 07|     1991-07-15|   33|
| Brazil|     2|     DF| THIAGO SILVA|     T. SILVA|Paris Saint-Germa...|   183|  79|          1984| 22| 09|     1984-09-22|   40|
| Brazil|    12|     DF|      MARCELO|      MARCELO|Real Madrid CF (ESP)|   174|  80|          1988| 12| 05|     1988-05-12|   36|
| Brazil|     4|     DF|PEDRO GEROMEL|      GEROMEL|   Grêmio FBPA (BRA)|   190|  84|          1985| 21| 09|     1985-09-21|   39|
+-------+------+-------+-------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+

In [47]:
# Vamos verificar os jogadores mais pesados
top1 = Window.partitionBy('Selecao').orderBy(col('Peso').desc())

dados.withColumn('topo', rank().over(top1)).where('topo = "1" ').show()

+--------------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----+
|       Selecao|Numero|Posicao|         Nome_FIFA|Nome Camiseta|                Time|Altura|Peso|Ano_Nascimento|Dia|Mes|Data_Nascimento|Idade|topo|
+--------------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----+
|     Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|          1986| 10| 02|     1986-02-10|   38|   1|
|     Australia|    18|     GK|     VUKOVIC Danny|      VUKOVIC|      KRC Genk (BEL)|   187|  94|          1985| 27| 03|     1985-03-27|   39|   1|
|       Belgium|     9|     FW|     LUKAKU Romelu|    R. LUKAKU|Manchester United...|   190|  94|          1993| 13| 05|     1993-05-13|   31|   1|
|        Brazil|    16|     GK|            CASSIO|       CASSIO|SC Corinthians (BRA)|   195|  92|          1987| 06| 06|     1987-06-06|   37|   1|
|      Colombia|    13|     DF|        MINA Yerry|      Y. MINA|  FC Barcelona (ESP)|   194|  95|          1994| 23| 09|     1994-09-23|   30|   1|
|    Costa Rica|    19|     DF|    WASTON Kendall|    K. WASTON|Vancouver Whiteca...|   196|  87|          1988| 01| 01|     1988-01-01|   36|   1|
|       Croatia|    12|     GK|     KALINIC Lovre|   L. KALINIĆ|      KAA Gent (BEL)|   201|  96|          1990| 03| 04|     1990-04-03|   34|   1|
|       Denmark|     3|     DF|VESTERGAARD Jannik|  VESTERGAARD|VfL Borussia Mönc...|   200|  98|          1992| 03| 08|     1992-08-03|   32|   1|
|         Egypt|     6|     DF|      AHMED HEGAZY|    A. HEGAZY|West Bromwich Alb...|   194|  95|          1991| 25| 01|     1991-01-25|   33|   1|
|       England|     6|     DF|     MAGUIRE Harry|      MAGUIRE|Leicester City FC...|   193|  98|          1993| 05| 03|     1993-03-05|   31|   1|
|       England|     9|     FW|        KANE Harry|         KANE|Tottenham Hotspur...|   188|  98|          1993| 28| 07|     1993-07-28|   31|   1|
|        France|    23|     GK|   AREOLA Alphonse|       AREOLA|Paris Saint-Germa...|   195|  95|          1993| 27| 02|     1993-02-27|   31|   1|
|       Germany|     1|     GK|      NEUER Manuel|        NEUER|FC Bayern München...|   193|  93|          1986| 27| 03|     1986-03-27|   38|   1|
|       IR Iran|     1|     GK|    BEIRANVAND Ali|A. BEIRANVAND| Persepolis FC (IRN)|   194|  85|          1992| 21| 09|     1992-09-21|   32|   1|
|       Iceland|    12|     GK|   SCHRAM Frederik|       SCHRAM|   Roskilde BK (DEN)|   198|  92|          1995| 19| 01|     1995-01-19|   29|   1|
|         Japan|     2|     DF|     UEDA Naomichi|         UEDA|Kashima Antlers (...|   186|  79|          1994| 24| 10|     1994-10-24|   30|   1|
|Korea Republic|     9|     FW|      KIM Shinwook|      S W KIM|Jeonbuk Hyundai (...|   197|  97|          1988| 14| 04|     1988-04-14|   36|   1|
|        Mexico|    12|     GK|  TALAVERA Alfredo|  A. TALAVERA|Deportivo Toluca ...|   188|  84|          1982| 18| 09|     1982-09-18|   42|   1|
|       Morocco|     5|     DF|     BENATIA Mehdi|      BENATIA|   Juventus FC (ITA)|   188|  88|          1987| 17| 04|     1987-04-17|   37|   1|
|       Morocco|    12|     GK|   EL KAJOUI Monir|    EL KAJOUI|   CD Numancia (ESP)|   190|  88|          1989| 10| 05|     1989-05-10|   35|   1|
+--------------+------+-------+------------------+-------------+--------------------+------+----+--------------+---+---+---------------+-----+----+
only showing top 20 rows

In [48]:
# Vamos fazer as estatísticas descritivas do banco de dados
dados.describe().show()

+-------+---------+-----------------+-------+------------+-------------+--------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+
|summary|  Selecao|           Numero|Posicao|   Nome_FIFA|Nome Camiseta|                Time|           Altura|             Peso|    Ano_Nascimento|               Dia|               Mes|             Idade|
+-------+---------+-----------------+-------+------------+-------------+--------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+
|  count|      736|              736|    736|         736|          736|                 736|              736|              736|               736|               736|               736|               736|
|   mean|     NULL|             12.0|   NULL|        NULL|         NULL|                NULL|182.4076086956522|77.18885869565217| 1990.110054347826|15.793478260869565|5.8790760869565215|33.889945652173914|
| stddev|     NULL|6.637760461599851|   NULL|        NULL|         NULL|                NULL|6.930924233929302|7.233778346883639|3.9074472063626775| 8.761123828732469|3.3782493094684387|3.9074472063627024|
|    min|Argentina|                1|     DF|ABDALLA SAID|    A. ASHRAF|    1. FC Köln (GER)|              165|               59|              1973|                01|                01|                25|
|    max|  Uruguay|               23|     MF|ZUBER Steven|     ŽIVKOVIĆ|Étoile du Sahel (...|              201|               99|              1999|                31|                12|                51|
+-------+---------+-----------------+-------+------------+-------------+--------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+

In [49]:
# Vamos fazer as estatísticas descritivas do Brazil
dados.where(dados.Selecao == 'Brazil').describe().show()

+-------+-------+-----------------+-------+---------+-------------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+------------------+
|summary|Selecao|           Numero|Posicao|Nome_FIFA|Nome Camiseta|                Time|           Altura|             Peso|   Ano_Nascimento|              Dia|              Mes|             Idade|
+-------+-------+-----------------+-------+---------+-------------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+------------------+
|  count|     23|               23|     23|       23|           23|                  23|               23|               23|               23|               23|               23|                23|
|   mean|   NULL|             12.0|   NULL|     NULL|         NULL|                NULL|180.7826086956522|76.56521739130434|1989.391304347826|11.26086956521739|6.130434782608695|34.608695652173914|
| stddev|   NULL|6.782329983125267|   NULL|     NULL|         NULL|                NULL|7.354383490255254|8.239737898283606|3.499858833968506|6.876953549252538|2.784769418006175|3.4998588339685237|
|    min| Brazil|                1|     DF|  ALISSON|    A. BECKER|       AS Roma (ITA)|              168|               64|             1984|               02|               01|                27|
|    max| Brazil|               23|     MF|  WILLIAN|      WILLIAN|SC Corinthians (BRA)|              195|               92|             1997|               25|               10|                40|
+-------+-------+-----------------+-------+---------+-------------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+------------------+

In [51]:
# Vamos fazer as médias das alturas por times
parametro = Window.partitionBy('Selecao').orderBy(col('Altura').desc())
parametro2 = Window.partitionBy('Selecao')

dados.withColumn('linha', row_number().over(parametro))\
.withColumn('media', avg('Altura').over(parametro2))\
.withColumn('max', max('Altura').over(parametro2))\
.withColumn('mediana', median('Altura').over(parametro2))\
.withColumn('min', min('Altura').over(parametro2))\
.withColumn('std', stddev('Altura').over(parametro2))\
.where('linha = "1" ').select('Selecao', 'media', 'mediana', 'min', 'max', 'std')\
.orderBy('media', ascending = False).show(20)

+--------------+------------------+-------+---+---+------------------+
|       Selecao|             media|mediana|min|max|               std|
+--------------+------------------+-------+---+---+------------------+
|        Serbia|186.69565217391303|  187.0|169|195| 6.189689246192162|
|       Denmark| 186.6086956521739|  187.0|171|200| 7.371561635679147|
|       Germany| 185.7826086956522|  186.0|176|195| 5.247999807191742|
|        Sweden| 185.7391304347826|  185.0|177|198|5.5531922948905175|
|       Iceland|185.52173913043478|  186.0|170|198|   5.6235670111464|
|       Belgium|185.34782608695653|  186.0|169|199| 7.595505223798012|
|       Croatia| 185.2608695652174|  186.0|172|201| 6.173384155935763|
|       Nigeria|184.52173913043478|  185.0|172|197| 6.940458232300529|
|       IR Iran|184.47826086956522|  185.0|177|194| 4.925532414391097|
|        Russia| 184.3913043478261|  185.0|173|196| 5.458430763796681|
|       Senegal|183.65217391304347|  184.0|173|196|7.3274620166018485|
|        France|183.30434782608697|  183.0|168|197| 7.600447251245975|
|        Poland|183.17391304347825|  184.0|172|195|  6.57579704061551|
|       Tunisia|183.08695652173913|  185.0|170|192| 5.290755604038032|
|   Switzerland|182.91304347826087|  184.0|165|192| 5.367520533714066|
|       England| 182.7391304347826|  183.0|170|196| 7.312612959838319|
|       Morocco|182.69565217391303|  183.0|167|190| 6.108375640415922|
|        Panama|182.17391304347825|  183.0|165|197| 6.117427964527712|
|Korea Republic| 181.8695652173913|  183.0|170|197| 7.485163190217664|
|       Uruguay|181.04347826086956|  184.0|168|196| 7.642454751223983|
+--------------+------------------+-------+---+---+------------------+
only showing top 20 rows